a {
  text-decoration: none;
  color: #333;
}

img > .img {
  display: inline-block;
  width: 20%;
  border: 1px solid slategray;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: whitesmoke;
  }

  .restaurant {
    height: 150px !important;
  }

  .res-name {
    font-size: 1.1em;
  }
}

.restaurant {
  /* width: 200px; */
  height: fit-content;
  border: 1px solid #333;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  /* min-height: 15vh; */
}

.restaurant .title-img {
  border: 1px solid #3333;
  width: 40%;
}

.restaurant .title-img .img {
  height: 150px;
  max-width: 100%;
}

.restaurant .text-action {
  height: 150px;
  flex-basis: 50%;
  /* margin-left: px; */
}

.res-name {
  padding: 5px 0;
  margin: 0;
}

.res-desc {
  max-width: 200px;
  overflow: hidden;
  padding: 0;
  margin: 10px 0;
  color: rgb(92, 91, 91);
}

.res-rating {
  padding: 10px 0;
  margin: 10px 0;
}

.res-delivery {
  color: green;
}
